body {
    width: 100%;
}

/*HERO SECTION*/

.container.hero {
    display: inline-block;
    width: 90%;
    margin-left: calc( (100% - 90%) / 2 );
    text-align: center;
    
}

.container.hero.hero-img {
    background-color: #000;
    opacity: 0.8;
    background-image: url(/img/hero-img.webp);
    background-size: cover;
    background-position: center center;
}

    .hero > img {
        height: 150px;
    }

    .hero > h1 {

    }

    .hero > p {

    }

    .hero > .btn {
        
    }