body {
    width: 100%;
    background-color: rgb(230, 230, 230);
}

.container {
    display: inline-block;
    width: 95%;
    padding: 80px 0;
    text-align: center;
    margin-left: calc( (100% - 95%) / 2 );
}

/*HEADER*/

header {
    display: inline-block;
    background-color: rgb(230, 230, 230);
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

    nav {
        padding-top: calc( (60px - 20px) / 2 );
    }

        nav > .left-nav {
            display: inline-block;
            float: left;
            margin-left: calc( (100% - 95%) / 2 );
        }

            nav > .left-nav > .logo-link {
                display: inline-block;
                float: left;
                font-family: 'Oswald', sans-serif;
                text-transform: uppercase;
                font-size: 20px;
                line-height: 20px;
                font-weight: 400;
                color: #a86550;
                margin-right: 40px;
                padding: 0;
            }

            .left-nav > a,
            .right-nav > a {
                font-family: 'Spartan', sans-serif;
                text-decoration: none;
                font-size: 12px;
                line-height: 25px;
                text-transform: capitalize;
                color: #7b5549;
                padding: 0 15px;
                font-weight: 400;
            }

                .left-nav > a:hover,
                .right-nav > a:hover {
                    color: #123132;
                    transition: 1s;
                }

        nav > .right-nav {
            display: inline-block;
            float: right;
            margin-right: calc( (100% - 95%) / 2 );
        }

            nav > .right-nav > span {
                display: inline-block;
                text-transform: capitalize;
                font-size: 20px;
                line-height: 20px;
                font-weight: 400;
                color: #A86550;
                margin-right: 40px;
            }

            nav > .right-nav > .bag-icon {
                color: #A86550;
                font-size: 25px;
                padding: 0;
            }

/*HERO SECTION*/

.hero {
    font-family: 'Open Sans Condensed', sans-serif;
}

    .hero-img {
        background-image: url(../img/hero-img.jpg);
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }

    .hero > img {
        display: inline-block;
        height: 100px;
        margin-top: 140px;
    }

    .hero > span {
        display: inline-block;
        font-size: 15px;
        line-height: 15px;
        text-transform: uppercase;
        color: #fff;
        margin-top: 180px;
        letter-spacing: 4px;
        border-bottom: 2px solid #fff;
        padding-bottom: 8px;
    }

    .hero > h1 {
        font-size: 130px;
        line-height: 130px;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        margin-top: 30px;
        letter-spacing: 15px;
    }

    .hero > p {
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        color: #fff;
        margin-top: 30px;
        letter-spacing: 6px;
    }

    .btn {
        display: inline-block;
        background-color: #a86550;
        font-size: 18px;
        line-height: 10px;
        color: #fff;
        padding: 15px 50px;
        margin: 80px 0;
        font-family: 'Open Sans Condensed'
    }

        .hero > a,
        .section-column > a,
        form > a {
            text-decoration: none;
        }

        .hero > .btn:hover,
        .text > .btn:hover,
        form > .btn:hover {
            background-color: #b89a91;
            transition: 0.5s;
        }

/*SECTION GALLERY*/

.container.section-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Open Sans Condensed', sans-serif;
}

.section-gallery .gallery-1,
.section-gallery .gallery-2,
.section-gallery .gallery-3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 565px;
    width: 30%;
    position: relative;
}

.section-gallery .gallery-1 {
    background-image: url(../img/photo-1.jpg);
    
}

.section-gallery .gallery-2 {
    background-image: url(../img/photo-2.jpg);
    
}

.section-gallery .gallery-3 {
    background-image: url(../img/photo-3.jpg);
    
}

    a.h2 {
        display: inline-block;
        font-size: 22px;
        line-height: 25px;
        letter-spacing: 6px;
        text-transform: uppercase;
        color: #a86550;
        margin: 40px 0;
        font-weight: 700;
    }

        .gallery-1 > a,
        .gallery-2 > a,
        .gallery-3 > a {
            text-decoration: none;
        }

    .border {
        position: absolute;
        top: 85px;
        left: calc( (100% - 15px) / 2 );
        border: 2px solid #a86550;
        width: 15px;
    }

    a.h3 {
        display: block;
        font-size: 18px;
        line-height: 20px;
        text-transform: capitalize;
        color: #a86550;
        font-weight: 700;
        margin-top: 7px;
    }

    .h2:hover,
    .h3:hover {
        color: #123132;
        transition: 1s;
    }

/*SECTION-THIRD*/

.section-third {
    background-color: #fff;
    padding: 0;
    font-family: 'Spartan', sans-serif;
}

    .section-third .section-row {
        display: inline-block;
        float: left;
        width: 100%;
        height: 450px;
    }

    .section-third .row-second {
        height: 700px;
    }

        .section-third .section-column {
            display: inline-block;
            float: left;
            position: relative;
            width: 50%;
        }

            .section-row .img-2 > img {
                display: inline-block;
                float: left;
                height: 450px;
                width: 50%;
                object-fit: cover;
            }

            .section-row .img-1 > img {
                display: inline-block;
                float: left;
                height: 700px;
                width: 100%;
                object-fit: cover;
            }

            .section-row .text {
                padding: 60px;
            }

            .section-row.row-second {
                height: 700px;
                background-color: rgb(0, 46, 49);
            }

                .section-column > h4 {
                    font-size: 16px;
                    line-height: 20px;
                    color: #A86550;
                    text-transform: uppercase;
                    font-weight: 300;
                    letter-spacing: 6px;
                    margin-bottom: 50px;
                }

                .section-column > p {
                    font-size: 12px;
                    line-height: 1.5;
                    color: #A86550;
                    font-weight: 400;
                    letter-spacing: 2px;
                }

                .section-column .border {
                    top: 105px;
                }

                .section-column h5 {
                    font-family: 'Open Sans Condensed', sans-serif;
                    font-size: 98px;
                    font-weight: 700;
                    color: #A86550;
                    margin-bottom: 30px;
                }

                .section-column .btn {
                    margin: 0;
                }

/*SECTION-FOURTH*/

.section-fourth {
    font-family: 'Spartan', sans-serif;
    position: relative;
    background-image: url(../img/leaf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

    .section-fourth > h4 {
        font-size: 16px;
        line-height: 20px;
        color: #A86550;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 6px;
        margin-top: 50px;
    }

    .section-fourth label {
        font-size: 13px;
    }

    .section-fourth .border {
        top: 180px;
    }

    .section-fourth .btn {
        margin: 0;
        width: 100%;
        text-align: center;
    }
    
/*FOOTER*/

footer.container {
    padding-bottom: 0;
} 

footer {
    background-color:rgb(0, 46, 49); 
    font-family: 'Spartan', sans-serif;
}

    .footer-row {
        display: inline-block;
        float: left;
        width: 100%;
        padding: 0 50px;
        
    }

        .footer-div {
            display: inline-block;
            float:left;
            width: 33%;
            padding: 0 20px;
        }

        .footer-div > h4,
        .footer-form > h4 {
            
            font-size: 16px;
            line-height: 20px;
            color: #fff;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 6px;
            margin-bottom: 30px;
        }

        .footer-div > p,
        .footer-div > a {
           color: #fff;
           font-size: 12px;
           line-height: 15px;
           padding-bottom: 12px;
        }

        .footer-div > a {
            display: block;
        }

    .footer-form {
        display: inline-block;
        width: 100%;
        margin-top: 80px;
        margin-bottom: 50px;
    }

        .footer-form > form {
            width: 400px;
            margin: 0;
            
        }

        .footer-form > form > label {
            color: #fff;
            font-size: 13px;
        }

        .footer-form > form > input {
            width: 61%;
            height: 40px;
            background-color: transparent;
            border: 1px solid #fff;
            margin-right: 10px;
        }

        .footer-form .btn {
            display: inline-block;
            float: left;
            padding: 15px 30px;
            margin: 0;
            background-color: #fff;
            color: rgb(0, 46, 49);
        }

            .footer-form .btn:hover {
                background-color: rgb(65, 111, 114);
                color: #fff;
            }

            .footer-form input:hover {
                border: 2px solid #fff;
                line-height: 28px;
            }

        .footer-icons > a > i {
            color: #fff;
            font-size: 20px;
            padding: 0 15px;
        }

        iframe {
            margin-top: 70px;
        }

    .last-footer {
        background-color: rgb(230, 230, 230);
        padding: 30px 0;
        font-size: 12px;
        color: #A86550;
    }

        .last-footer > p > a {
            color: #A86550;
        }










/*
 
    @media (max-width: 1200px) {
        .container {
            width: 1100px;
            padding: 70px 0;
            margin-left: calc( (100% - 1100px) / 2 );
            
        }
    }


    @media (max-width: 1000px) {
        .container {
            width: 900px;
            padding: 60px 0;
            margin-left: calc( (100% - 900px) / 2 );
            
        }
    }